<div class="container">

    <div class="icon-container text-right">
        <ul class="list-inline text-right">
            <li>
                <a href="https://www.instagram.com/chung_pac/">
                    <img class="social-icons list-inline-item" src="../../../assets/img/social/instagram.svg">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/chungarguello/">
                    <img class="social-icons list-inline-item" src="../../../assets/img/social/linkedin.svg">
                </a>
            </li>
            <li>
                <a href="https://github.com/Chung305">
                    <img class="social-icons list-inline-item" src="../../../assets/img/social/github.svg">
                </a>
            </li>
            <li>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=arguello.chung.dev@gmail.com&su=Hello&shva=1">
                    <img class="social-icons list-inline-item" src="../../../assets/img/social/google.svg">
                </a>
            </li>
        </ul>
    </div>

    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a>
                    <h3>HOME</h3>
                </a>
            </li>
            <li class="list-inline-item">
                <a>
                    <h3>PROJECTS</h3>
                </a>
            </li>
            <li class="list-inline-item">
                <a>
                    <h3>ABOUT</h3>
                </a>
            </li>
        </ul>
    </div>
</div>