<div class="container">
    <h1>CHUNG I AM</h1>
    <div id="about-me-container">
        <div id="about-me">
            <h3>About me</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Animi vel vitae doloremque magnam dolorem dolorum alias
                incidunt facilis repellat commodi repudiandae ullam aperiam
                eligendi exercitationem cumque ipsum, hic nam voluptate.
            </p>
        </div>

        <div id="my-picture">

        </div>

        <div id="my-details">
            <h3>Details</h3>
            <h6>Name:</h6>
            <p>Chungsing Arguello</p>
            <h6>Age:</h6>
            <p>30</p>
            <h6>Location:</h6>
            <p>New Castle, Delaware, Earth</p>
        </div>

    </div>

    <hr>

    <div id="background-container">
        <h3>Background</h3>
        <p>
            Originally from Miami where I graduated from Miami Beach Senior High. After high school,
            I picked up Djing as a hobby with my two other cousins Federico and Robert. I immediately
            fell in love with it and the tools used to mix music such as CDJs 2000 and Allen Heath Xone: 92
            (rotary level controls). I eventually moved to Delaware with my brother Alex and realized I
            wanted to pursue something with technology but wasn’t sure what to study, so I chose computer science.
            While taking computer science classes I again, fell in love. I found a passion and found myself
            really eager to keep learning different technologies. Using my creativity, attention to detail and
            dedication to write code, but at the time I had no idea or understood how clouds worked or how front-end
            and back-end worked together. At the same time, I was working as a chef in a couple locations. Sadly,
            with financial problems I stopped going to school to find another job. Working two jobs for a year and
            wanting to keep pursuing technology I discovered Zipcode Wilmington which is a 12-week immersive bootcamp.
            Having nothing to lose, I took a chance.
        </p>
    </div>



    <hr>

    <div id="skills-container">
        <h3>Skills</h3>

        <p>Java</p>
        <p>Spring</p>
        <p>SpringBoot</p>
        <p>Object Oriented Programming</p>
        <p>MySQL</p>
        <p>MVC</p>
        <p>Angular</p>
        <p>Agile</p>
        <p>HTML</p>

        <hr>


        <h3>Languages</h3>

        <p>English</p>
        <p>Spanish</p>


    </div>

    <hr>

    <div>
        <p>Feel free to</p>
        <button
            onclick="location.href='https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=arguello.chung.dev@gmail.com&su=Hello&shva=1'">Contact
            Me</button>
    </div>

    <div id="credit-container">
        <h3>Credit</h3>

        <p>
            Photo by Boris Stefanik on Unsplash
        </p>
        <p>
            Robert Tellier
        </p>


    </div>

</div>