<div class="container">
    <h1>CHUNG I AM</h1>
    <div id="about-me-container">
        <div id="about-me">
            <h3>About me</h3>
            <p>
                I am a self-motivated software developer with an enveloping passion for technology. 
                This passion enlists strongly in my desire to impact the community at-large. I enjoy 
                adding new technologies to my skill set and working in teams to develop solutions to 
                complex problems. I possess a team-oriented approach to solving any problem no matter 
                how difficult.   
            </p>
        </div>

        <div id="my-picture">

        </div>

        <div id="my-details">
            <p>
                Like my father always tells me “Remember: if it's hard, its hard but 
                not impossible.” Everything I do is inspired by this mindset. 
            </p>

            <h3>Details</h3>
            <h6>Name:</h6>
            <p>Chungsing Arguello</p>
            <h6>Location:</h6>
            <p>New Castle, Delaware, Earth</p>
        </div>

    </div>

    <hr>

    <div id="background-container">
        <h3>Background</h3>
        <p>
            Chung is originally from Miami where he graduated from Miami Beach Sr. High School. 
            There he acquired a passion for DJing alongside two close family members. Chung’s 
            interest in DJing primarily resided in the hardware used to mix the music, such as 
            CDJs 2000 and Allen Heath Xone: 92. 
        </p>
        <p>
            He eventually moved to Delaware with his brother. There he discovered his desire to 
            pursue a career in technology and chose to begin an education in Computer Science. 
            In studying Computer Science at the Delaware Technical Community College he realized, 
            that like DJing, software development is a passion of his. Chung found himself eagerly 
            and enthusiastically wanting to learn different technologies.
        </p>
        <p>
            Chung’s work ethic can best be described as creative, detail-oriented, and dedicated. 
            Attempting to change careers and enter the technology field he sought alternative academic 
            pipelines. In refusing to give up, Chung applied for, enrolled in, and completed a 12-week 
            immersive software development program called Zip Code Wilmington. At Zip Code Wilmington, 
            Chung’s work ethic was tested like never before dedicating an entire 3 months, approximately 
            100 hours a week, to learning Java, object-oriented programming, agile/scrum methodology, 
            TDD, designing interfaces, and working in teams. 
        </p>
    </div>



    <hr>

    <div id="skills-container">
        <h3>Skills</h3>

        <p>Java</p>
        <p>Spring</p>
        <p>SpringBoot</p>
        <p>Object Oriented Programming</p>
        <p>MySQL</p>
        <p>MVC</p>
        <p>Angular</p>
        <p>Agile</p>
        <p>HTML</p>

        <hr>


        <h3>Languages</h3>

        <p>English</p>
        <p>Spanish</p>


    </div>

    <hr>

    <div>
        <p>Feel free to</p>
        <button
            onclick="location.href='https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=arguello.chung.dev@gmail.com&su=Hello&shva=1'">Contact
            Me</button>
    </div>

    <div id="credit-container">
        <h3>Credit</h3>

        <p>
            Photo by Boris Stefanik on Unsplash
        </p>
        <p>
            Robert Tellier
        </p>
        <p>
            Mike Schoenbeck
        </p>


    </div>

</div>