<div class="container">

    <h1>I'VE WORKED ON</h1>

    <div class="project-container">
        <h4>Downtown Vision</h4>
        <p>
            Non-profit organization based in Downtown Wilmington, Delaware. Provides Ambassador 
            escorts and cleaning ambassador around downtown Wilmington. Developed a web application
            that requests ambassadors and reports cleaning jobs.
        </p>
        <div class="project-repos">
            <p>Front-End repository: <a href="https://github.com/davidtrom/DTVClient"><u>Check</u></a></p>
            <p>Back-End repository: <a href="https://github.com/davidtrom/DTV-Backend"><u>Check</u></a></p> 
        </div>

        <p class="stack-p">Stack: </p>
        <ul>
            <li>Java</li>
            <li>SpringBoot</li>
            <li>MySQL</li>
            <li>Angular</li>
        </ul>
    </div>

    <hr>

</div>